// Base/common stylings
// ==========================================

.container {
	@include outer-container;
	padding: 0 5%;
}
.row {
	@include row();
}

// Grid helpers

.hide-tablet-up {
	@include media($tablet-up) {
		display: none !important;
	}
}
.hide-tablet-down {
	@include media($tablet-down) {
		display: none !important;
	}
}



//Resets
//========================================
body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #fff;
	font : {
		size: 100%;
		family: 'Open Sans', Arial, sans-serif;
	}
}

header, section, footer {
	font-size: em(14);
}


img {
	max-width: 100%;
	height: auto;
}

ul,li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

a {
	text-decoration: none;
	&:visited, &:active, &:link {
		text-decoration: none;
	}
	&:hover {
		text-decoration: underline;
	}
}