section.about {
	.mycontent {
		&.half-block{
			.text {
				height: 146px;
				textarea {
					height: 80px;
				}
			}
		}
		.text{
			height: 267px;
			display: block;
			padding: 0 10px;
			&.active {
				background: #000;
			}
			p {
				text-align: left;
			}
			textarea {
				height: 190px;
				resize: none;
				margin-top: 10px;
				width: 100%;
			}
		}
		
	}
	.confirm {
		position: absolute;
		bottom: 6px;
		left: 10px;
		font-size: 20px;
		&:hover {
			cursor: pointer;
		}
	}
	> ul {
		display: block;
		overflow: hidden;
		.block {

			position: relative;
			width: 25%;
			float: left;
			@include border-width(1px 0 1px 1px);
			border-style: solid;
			border-color: #e6e6e6;
			min-height: 240px;
			text-align: center;
			.location {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 10px;
				color: #fff;
				background: rgba(0,0,0,0.8)
			}
			&.quote a {
				&:before {
					@include fa-icon();
					content: $fa-var-quote-left;
					position: absolute;
					left: 10px;
					top: 10px;
					color: #ececec;
					font-size: 30px;
				}
				&:after {
					@include fa-icon();
					content: $fa-var-quote-right;
					position: absolute;
					right: 10px;
					bottom: 10px;
					color: #ececec;
					font-size: 30px;
				}
			}
			&:nth-of-type(4){
				border-right: 1px solid #e6e6e6;
			}
			a {
				&.active {
					padding: 0 10px;
					color: #fff;
					background: #000;
					&:hover {
						background: #000 !important;
					}
				}
				text-decoration: none;
				color: #5f5f5f;
				display: block;
				&:hover {
					text-decoration: none;
					background: darken(#fff, 15%);
				}
			}
			
			.title {
				padding-top: 10px;
				width: 100%;
				font-weight: bold;
			}
			.content {
				line-height: 240px;
				vertical-align: middle;
			}
			.half-block {
				&:first-of-type {
					border-bottom: 1px solid #e6e6e6;
				}
				display: block;
				min-height: 120px;
				.content {
					line-height: 120px;
				}
				.availability {
					font-size: em(25px);
					line-height: 60px;
				}
			}
			
		}
	}
	.block-divider {
		text-align: center;
		font-size: em(30);
		line-height: 50px;
	}
	.qa-form {
		color: #000;
		text-align: center;
		background: #e5e5e5;
		padding: 10px;
		.qa-btn-container {
			span {
				font-size: em(23px);
			}
		}
	}
}

// tablet down
@include media($tablet-down) {
	section.about {
		ul {
			.block {
				width: 50%;
				float: left;
				&:nth-of-type(2n){
					border-right: 1px solid #e6e6e6;
				}
			}
		}
	}
}

// Mobile small
@include media($mobile-small) {
	section.about {
		ul {
			.block {
				width: 100%;
				float: left;
				border-right: 1px solid #e6e6e6;
			}
		}
	}
}
