%upload-label {
	label {
			color: #4f4f4f;
			overflow: hidden;
			display: block;
			position: relative;
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			input {
				visibility: hidden;
				position: absolute;
			}
		}
}

header.content-header {
	min-height: 236px;
	display: table;
	width: 100%;
	.profile-image {
		@include span-columns(4, table);
		text-align: center;
		background: #b8b8b8;
		vertical-align: middle;
		@extend %upload-label;
	}
	.profile-info {
		overflow: hidden;
		@include span-columns(8, table);
		background-color: #e6e6e6;
		padding: 20px;
		position: relative;
		@extend %upload-label;
		.basic-info {
			@include span-columns(6);
			.editable {
				> a {
					display: inline-block;
					color: #5f5f5f;
					font-size: em(16px);
					&.add-name {
						line-height: 32px;
						margin-bottom: 10px;
						font-size: em(45px);
					}
					&.add-skill {
						i {
							display: none;
							color: #5f5f5f;
						}
						&:hover {
							text-decoration: none;
							border: 1px solid #ccc;
							i {
								display: initial;
							}
						}
					}
				}
			}
		}
		.profile-actions {
			font-size: em(12px);
			@include span-columns(6);
			text-align: right;
			.actions {
				display: inline-block;
				width: 100%;
				a {
					display: inline-block;
				}
			}
			span {
				font-size: em(14px);
				color: #b8b8b8;
			}
		}
		.resume {
			position: absolute; 
			right: 0;
			bottom: 0;
			display: block;
			padding-top: 40px;
			padding: 20px;
			font-size: em(12px);
			&:after {
				@include fa-icon();
				content: "\f15b";
				font-size: 43px;
				top: -2px;
				left: 7px;
				position: absolute;
				color: #fff;
			}
			span {
				position: relative;
				z-index: 2;
			}
		}
	}
}


// Tablet-down
@include media($tablet-down) {
	header.content-header {
		.profile-image {

		}
		.profile-info {
			.basic-info {
				@include span-columns(12);
				margin-bottom: 10px;
			}
			.profile-actions {
				@include span-columns(12);
				text-align: left;
			}
		}
	}
}


// Mobile
@include media($mobile) {
	header.content-header {
		.profile-image {
			@include span-columns(12);
			.edit-link {
				padding: 40px 0;
				display: block;
				&.hasImage {
					padding: 0px;
				}
			}
		}
		.profile-info {
			@include span-columns(12);
			.profile-actions {
				margin-bottom: 20px;
			}
			.resume {
				padding: 10px;
			}
		}
	}
}
